html {
  background: #ffffff;
}
body {
  margin: 0 auto;
  padding: 0;
  width: 1440px;
  font-family: 'NWTBodoni-Regular', serif;
  overflow-x: hidden;
}
section {
  display: flex;
}
/* картинка для фона (в конце убрать) */
.fon {
  position: absolute;
  display: block;
  width: 1440px;
  height: 9389px;
  opacity: 0.2;
}
/* первый экран */
.first-screen {
  background: black;
  position:relative;
  height: 810px;
}
.srelki_fon {
  margin-top: 38.2px;
  margin-left: 52.7px;
}
.first-screen .tl-1 p:nth-of-type(1)  {
  position: absolute;
  font-size: 27px;
  color: white;
  top: 84px;
  left: 53px;
}
.first-screen .tl-1 p:nth-of-type(2)  {
  position: absolute;
  font-size: 42px;
  color: white;
  top: 72px;
  left: 88px;
}
.first-screen .tl-2 p:nth-of-type(1) {
  position: absolute;
  font-size: 27px;
  color: white;
  top: 224px;
  left: 217px;
}
.first-screen .tl-2 p:nth-of-type(2) {
  position: absolute;
  font-size: 42px;
  color: white;
  top: 212px;
  left: 255px;
}
.first-screen .tl-3 p:nth-of-type(1) {
  position: absolute;
  font-size: 27px;
  color: white;
  top: 224px;
  left: 1330px;
}
.first-screen .tl-3 p:nth-of-type(2) {
  position: absolute;
  font-size: 42px;
  color: white;
  top: 210px;
  left: 1366px;
}
.first-screen .tl-4 p:nth-of-type(1) {
  position: absolute;
  font-size: 27px;
  color: white;
  top: 440px;
  left: 671px;
}
.first-screen .tl-4 p:nth-of-type(2) {
  position: absolute;
  font-size: 42px;
  color: white;
  top: 428px;
  left: 707px;
}
.first-screen .tl-5 p:nth-of-type(1) {
  position: absolute;
  font-size: 27px;
  color: white;
  top: 654px;
  left: 210px;
}
.first-screen .tl-5 p:nth-of-type(2) {
  position: absolute;
  font-size: 42px;
  color: white;
  top: 640px;
  left: 245px;
}
/* экран: название + облака */
.nazvanie {
  height: 1020px;
  width: 1440px;
  position: relative;
  background: white;
}
.nwt {
  position: absolute;
  font-size: 72px;
  color: black;
  top: 250px;
  left: 165px;
  font-family: "NWTBodoni-Italic", serif;
}
.bodoni {
  position: absolute;
  font-size: 280px;
  color: black;
  top: 77px;
  left: 325px;
  font-family: "NWTBodoni-Italic", serif;
  font-style: italic;
}
.bodoni p {
  font-family: "NWTBodoni-Italic", serif;

}
.nazvanie .tl-6 p:nth-of-type(1) {
  position: absolute;
  font-size: 27px;
  color: black;
  top: 95px;
  left: 1361px;
}
.nazvanie .tl-6 p:nth-of-type(2) {
  position: absolute;
  font-size: 42px;
  color: black;
  top: 83px;
  left: 1395px;
}
.nazvanie-strelka {
  position: absolute;
  top: 127px;
  right: 0px;
}
.nazvanie-text {
  width: 460px;
  position: absolute;
  font-size: 20px;
  color: black;
  top: 370px;
  left: 820px;
}
.oblaka {
  margin-top: 518px;
  margin-left: 0px;
  height: 597px;
  width: 1440px;
}
/* экран 3 */
.ekran3 {
  height: 1060px;
  width: 1440px;
  position: relative;
  background: black;
}
.vetriak {
  margin-top: 565px;
  margin-left: 656px;
  height: 137px;
  width: 118px;
}
.chto {
  position: absolute;
  font-size: 20px;
  color: white;
  top: 750px;
  left: 645px;
}
.razdel1 {
  position: absolute;
  font-size: 20px;
  color: white;
  top: 1000px;
  left: 600px;
}
.str-l {
  position: absolute;
  margin: 0px;
  font-size: 130px;
  color: white;
  font-family: "NWTBodoni-Italic", serif;
  bottom: 450px;
  left: -430px;
  transform: rotate(90deg);
}
.str-r {
  position: absolute;
  font-size: 130px;
  color: white;
  font-family: "NWTBodoni-Italic", serif;
  bottom: 450px;
  right: -430px;
  transform: scaleX(-1) rotate(90deg);
}
/* особенности */
.osobennosti {
  height: 760px;
  width: 1440px;
  position: relative;
  background: black;
}
.kartinka-1 {
  margin-top: 0px;
  margin-left: 0px;
  height: 760px;
}
.kartinka-2 {
  margin-top: 0px;
  margin-left: 50px;
  height: 760px;
}
/* начертания и цифры */
.nachertania-tzifri {
  height: 1390px;
  width: 1440px;
  position: relative;
  background: black;
}
.razdel2 {
  position: absolute;
  font-size: 20px;
  color: white;
  top: 135px;
  left: 650px;
}
.razdel3 {
  position: absolute;
  font-size: 20px;
  color: white;
  top: 585px;
  left: 600px;
}
.flag {
  margin-top: 197px;
  margin-left: 0px;
  height: 228px;
}
.text-flag1 {
  position: absolute;
  font-size: 32px;
  color: black;
  top: 253px;
  left: 625px;
}
.text-flag2 {
  position: absolute;
  font-size: 32px;
  color: black;
  top: 295px;
  left: 630px;
  font-family: "NWTBodoni-Italic", serif;
}
.text-flag3 {
  position: absolute;
  font-size: 32px;
  color: black;
  top: 335px;
  left: 505px;
  font-family: "NWTBodoni-Bold", serif;
}
.polosa-1 div {
  position: relative;
  display: block;
  width: 32px;
  height: 2px;
  background-color: black;
  top: 270px;
  left: -1380px;
}
.polosa-2 div {
  position: relative;
  display: block;
  width: 32px;
  height: 1px;
  background-color: black;
  top: 305px;
  left: -1412px;
}
.polosa-3 div {
  position: relative;
  display: block;
  width: 32px;
  height: 2px;
  background-color: black;
  top: 345px;
  left: -1443px;
}
.nachertanie1 {
  position: absolute;
  font-size: 20px;
  color: black;
  top: 260px;
  left: 90px;
}
.nachertanie2 {
  position: absolute;
  font-size: 20px;
  color: black;
  top: 295px;
  left: 90px;
  font-family: "NWTBodoni-Italic", serif;
}
.nachertanie3 {
  position: absolute;
  font-size: 20px;
  color: black;
  top: 335px;
  left: 90px;
  font-family: "NWTBodoni-Bold", serif;
}
.polosa-bolshaia {
  position: relative;
  display: block;
  height: 1300px;
  border-left: 4px solid white;
  top: 140px;
  left: -1443px;
}
.nachertania-tzifri .tzifri1 p:nth-of-type(1) {
  position: absolute;
  font-size: 110px;
  color: white;
  font-family: "NWTBodoni-Italic", serif;
  top: 790px;
  left: 670px;
}
.nachertania-tzifri .tzifri1 p:nth-of-type(2) {
  position: absolute;
  font-size: 110px;
  color: white;
  font-family: "NWTBodoni-Italic", serif;
  top: 770px;
  left: 855px;
}
.nachertania-tzifri .tzifri1 p:nth-of-type(3) {
  position: absolute;
  font-size: 110px;
  color: white;
  font-family: "NWTBodoni-Italic", serif;
  top: 770px;
  left: 1020px;
}
.nachertania-tzifri .tzifri1 p:nth-of-type(4) {
  position: absolute;
  font-size: 110px;
  color: white;
  font-family: "NWTBodoni-Italic", serif;
  top: 785px;
  left: 1210px;
}
.nachertania-tzifri .tzifri2 p:nth-of-type(1) {
  position: absolute;
  font-size: 130px;
  color: white;
  font-family: "NWTBodoni-Italic", serif;
  top: 930px;
  left: 160px;
}
.nachertania-tzifri .tzifri2 p:nth-of-type(2) {
  position: absolute;
  font-size: 110px;
  color: white;
  font-family: "NWTBodoni-Italic", serif;
  top: 930px;
  left: 330px;
}
.nachertania-tzifri .tzifri2 p:nth-of-type(3) {
  position: absolute;
  font-size: 130px;
  color: white;
  font-family: "NWTBodoni-Italic", serif;
  top: 930px;
  left: 500px;
}
.nachertania-tzifri .tzifri2 p:nth-of-type(4) {
  position: absolute;
  font-size: 110px;
  color: white;
  font-family: "NWTBodoni-Italic", serif;
  top: 930px;
  left: 670px;
}
.nachertania-tzifri .tzifri2 p:nth-of-type(5) {
  position: absolute;
  font-size: 110px;
  color: white;
  font-family: "NWTBodoni-Italic", serif;
  top: 930px;
  left: 845px;
}
.strelka_tzifri {
  position: absolute;
  margin-top: 910px;
  margin-left: 285px;
  height: 76px;
}
.fluger {
  position: absolute;
  margin-top: 970px;
  margin-left: 950px;
  height: 443px;
}
/* символы */
.simvoli {
  height: 1040px;
  width: 1440px;
  position: relative;
  background: white;
}
.razdel4 {
  position: absolute;
  font-size: 20px;
  color: black;
  top: 70px;
  left: 655px;
}
.simvoli_ {
  margin-top: 122px;
  margin-left: 0px;
  height: 918px;
  width: 1440px;
}
/* языки */
.iaziki {
  height: 990px;
  width: 1440px;
  position: relative;
  background: white;
}
.razdel5 {
  position: absolute;
  font-size: 20px;
  color: black;
  top: 50px;
  left: 670px;
}
.shtuka {
  position: absolute;
  margin-top: 150px;
  margin-left: 280px;
  height: 370px;
}
.shtuka_linia {
  position: relative;
  display: block;
  height: 470px;
  border-left: 4px solid black;
  top: 520px;
  left: 1345px;
}
.iaziki_nazvanie {
  position: absolute;
  font-size: 130px;
  color: black;
  top: 255px;
  left: 595px;
  font-family: "NWTBodoni-Bold", serif;
}
.iaziki_strelka {
  position: absolute;
  margin-top: 340px;
  margin-left: 1230px;
}
.russian {
  position: absolute;
  font-size: 14px;
  color: black;
  top: 420px;
  left: 1170px;
  font-family: "NWTBodoni-Bold", serif;
}
.ieroglifi {
  position: absolute;
  font-size: 80px;
  color: black;
  top: 53px;
  left: 30px;
  font-family: "NWTBodoni-Bold", serif;
  width: 80px;
}
.melk_text1 {
  position: absolute;
  font-size: 18px;
  color: black;
  left: 53px;
  top: 342px;
  font-family: "NWTBodoni-Bold", serif;
}
.france {
  position: absolute;
  font-size: 260px;
  line-height: 150px;
  color: black;
  left: 0px;
  top: 598px;
  font-family: "NWTBodoni-Bold", serif;
}
.ukraina {
  position: absolute;
  font-size: 96px;
  color: black;
  left: 827px;
  top: 825px;
  font-family: "NWTBodoni-Bold", serif;
}
.melk_text2 {
  position: absolute;
  font-size: 18px;
  color: black;
  left: 680px;
  top: 775px;
  font-family: "NWTBodoni-Bold", serif;
}
.melk_text3 {
  position: absolute;
  font-size: 18px;
  color: black;
  left: 872px;
  top: 775px;
  font-family: "NWTBodoni-Bold", serif;
}
.melk_text4 {
  position: absolute;
  font-size: 18px;
  color: black;
  left: 1052px;
  top: 775px;
  font-family: "NWTBodoni-Bold", serif;
}
.melk_text5 {
  position: absolute;
  font-size: 18px;
  color: black;
  left: 1210px;
  top: 775px;
  font-family: "NWTBodoni-Bold", serif;
}
.melk_text6 {
  position: absolute;
  font-size: 18px;
  color: black;
  left: 1373px;
  top: 775px;
  font-family: "NWTBodoni-Bold", serif;
}
/* лигатуры */
.ligaturi {
  height: 1127px;
  width: 1440px;
  position: relative;
  background: black;
}
.razdel6 {
  position: absolute;
  font-size: 20px;
  color: white;
  top: 60px;
  left: 682px;
}
.ligatura1 {
  position: absolute;
  margin-top: 360px;
  margin-left: 86px;
  height: 482px;
}
.ligatura2 {
  position: absolute;
  margin-top: 360px;
  margin-left: 550px;
  height: 482px;
}
.ligatura3 {
  position: absolute;
  margin-top: 360px;
  margin-left: 1056px;
  height: 482px;
}
.ligaruri_strelki {
  position: absolute;
  margin-top: 200px;
  margin-left: 41px;
  height: 547px;
}
/* последний экран */
.posledni {
  height: 1057px;
  width: 1440px;
  position: relative;
  background: white;
}
.posledni_k1 {
  position: absolute;
  margin-top: 104px;
  margin-left: 57px;
  height: 756px;
}
.posledni_k2 {
  position: absolute;
  margin-top: 118px;
  margin-left: 650px;
  height: 741px;
}
.posledni_k3 {
  position: absolute;
  margin-top: 742px;
  margin-left: 560px;
  height: 122px;
}
.posledni_k4 {
  position: absolute;
  margin-top: 950px;
  margin-left: 560px;
  height: 77px;
}
.tl-7 {
  position: absolute;
  font-size: 27px;
  color: black;
  top: 120px;
  left: 194px;
}
.tl-8 {
  position: absolute;
  font-size: 27px;
  color: black;
  top: 120px;
  left: 421px;
}
.posledni_text {
  position: absolute;
  font-size: 27px;
  color: black;
  left: 140px;
  top: 260px;
  width: 370px;
}
.posledni .posledni_tsifri p:nth-of-type(1) {
  position: absolute;
  font-size: 55px;
  color: black;
  left: 223px;
  top: 785px;
  font-family: "NWTBodoni-Italic", serif;
}
.posledni .posledni_tsifri p:nth-of-type(2) {
  position: absolute;
  font-size: 55px;
  color: black;
  left: 280px;
  top: 785px;
  font-family: "NWTBodoni-Italic", serif;
}
.posledni .posledni_tsifri p:nth-of-type(3) {
  position: absolute;
  font-size: 55px;
  color: black;
  left: 344px;
  top: 785px;
  font-family: "NWTBodoni-Italic", serif;
}
.posledni .posledni_tsifri p:nth-of-type(4) {
  position: absolute;
  font-size: 55px;
  color: black;
  left: 406px;
  top: 785px;
  font-family: "NWTBodoni-Italic", serif;
}
.posledni .tl-9 p:nth-of-type(1) {
  position: absolute;
  font-size: 27px;
  color: black;
  top: 537px;
  left: 668px;
}
.posledni .tl-9 p:nth-of-type(2) {
  position: absolute;
  font-size: 42px;
  color: black;
  top: 525px;
  left: 705px;
}
.uh {
  position: absolute;
  font-size: 150px;
  color: black;
  left: 760px;
  top: 530px;
  font-family: "NWTBodoni-Italic", serif;
}
.t2 {
  position: absolute;
  font-size: 410px;
  color: black;
  top: 335px;
  left: 1136px;
  font-family: "NWTBodoni-Italic", serif;
}
.posledni_text_flag {
  position: absolute;
  font-size: 27px;
  color: black;
  top: 790px;
  left: 971px;
  width: 409px;
  text-align: right;
  font-family: "NWTBodoni-Italic", serif;
}
/* футер */
.footer {
  height: 142px;
  width: 1440px;
  position: relative;
  background: black;
}
.footer p:nth-of-type(1) {
  position: absolute;
  font-size: 20px;
  color: white;
  left: 53px;
  top: 63px;
}
.footer p:nth-of-type(2) {
  position: absolute;
  font-size: 20px;
  color: white;
  left: 390px;
  top: 63px;
}
.footer p:nth-of-type(3) {
  position: absolute;
  font-size: 20px;
  color: white;
  left: 1218px;
  top: 63px;
}
